.Project {
  .landing {
    min-height: 95vh;
    display: flex;
    align-items: center;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;

      img {
        object-fit: cover;
        object-position: center;
      }
    }

    .overlay {
      padding: 3rem 1rem;
      background-color: rgba($color: $grey, $alpha: 0.8);
      text-align: center;
      z-index: 1;
      transition: 0.3s ease-in-out;
      width: 100%;

      h1 {
        margin: 0;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 2rem;
        color: $white;
      }

      hr {
        background-color: $blue;
        height: 2px;
        width: 25%;
        border: none;
        margin: 1rem auto;
      }

      p {
        margin: 0;
        color: $blue;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;

        i {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .details {
    .grid {
      display: grid;
      grid-template-columns: 35% 65%;

      >div {
        padding: 2rem 0;
      }

      .description {
        padding-left: 2rem;
        display: flex;
        align-items: center;
        font-size: 1.05rem;
      }

      .stats {
        background-color: $lightgrey;
        color: $white;
        padding: 1.5rem;
        display: flex;
        align-items: center;

        ul {
          @include list-reset;
          width: 100%;

          li {
            padding: 1.25rem 0;
            border-bottom: 1px solid $blue;

            &:last-child {
              border-bottom: none;
            }

            span {
              font-weight: 500;
              margin-right: 0.5rem;
            }

            a {
              color: $blue;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .details .grid {
      grid-template-columns: 1fr;
      gap: 2rem;

      .description {
        padding: 0;
      }
    }
  }
}