.AboutPage {
  .overview {
    display: grid;
    grid-template-columns: 3fr 2fr;

    .text {
      padding-right: 2rem;

      .grid {
        width: 100%;
        padding-top: 1rem;

        .item {
          padding-bottom: 0.5rem;

          h2 {
            color: $blue;
            margin: 0 0 1rem 0;
            font-size: 1.4rem;
          }
        }
      }
    }

    .image {
      position: relative;
      display: flex;
      justify-content: center;

      img {
        object-position: center;
        object-fit: contain;
      }
    }
  }

  .values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    .value {
      h2 {
        color: $blue;
        margin: 0 0 1rem 0;
        font-size: 1.4rem;
      }
    }
  }

  .memberships {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    img {
      width: 12.5rem;
      filter: grayscale(100%);
      transition: 0.3s ease-in-out;

      &:hover {
        filter: none;
      }
    }
  }

  @media screen and (max-width: $breakpoint-md) {
    .overview {
      grid-template-columns: 1fr;
      gap: 2rem;

      .text {
        padding: 0;
      }

      .image {
        height: 400px;
      }
    }

    .memberships {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    .values {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  @media screen and (max-width:600px) {
    .memberships {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}