@import "../variables.scss";

.about {
    .overview {
        display: flex;

        .text {
            width: 60%;
            padding-right: 2rem;

            .grid {
                width: 100%;
                // display: grid;
                // column-gap: 2rem;
                // grid-template-columns: 1fr 1fr;
                padding-top: 1rem;

                .item {
                    padding-bottom: 0.5rem;

                    h2 {
                        color: $blue;
                        margin: 0 0 1rem 0;
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .image {
            width: 40%;
        }
    }

    .values {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        .value {
            h2 {
                color: $blue;
                margin: 0 0 1rem 0;
                font-size: 1.4rem;
            }
        }
    }

    .memberships {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 2rem;
        flex-wrap: wrap;
        gap: 2rem;

        img {
            width: 12.5rem;
        }
    }

    .team {
        padding-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;

        .member {
            display: grid;
            grid-template-columns: 25% 75%;
            background-color: $white;
            color: $grey;

            .image {
                min-height: 40vh;
                grid-area: 1/1/3/2;
            }

            .details {
                padding: 2rem 2rem 0rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    margin: 0;
                    font-size: 1.4rem;
                }

                h3 {
                    margin: 0 0 1rem 0;
                    font-size: 1.1rem;
                    font-weight: 500;
                    font-family: $font;
                    color: $blue;
                }

                >div {
                    display: flex;
                    align-items: center;

                    font-size: 0.9rem;

                    a:hover {
                        color: $blue;
                    }

                    i {
                        color: $blue;
                        margin-right: 0.5rem;
                    }
                }
            }

            .bio {
                padding: 0rem 2rem 2rem 2rem;

                p {
                    color: $lightgrey;
                    margin-top: 1.5rem;
                    font-style: italic;

                    span {
                        display: block;
                        color: $blue;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 991px) {

        .overview {
            flex-wrap: wrap;

            .text,
            .image {
                width: 100%;
            }
        }

        .team {
            .member {
                grid-template-columns: 35% 65%;
            }
        }
    }

    @media screen and (max-width: 768px) {

        .team {
            .member {
                grid-template-columns: 35% 65%;

                .image {
                    min-height: unset;
                    grid-area: unset;
                }

                .details {
                    padding: 2rem;
                }

                .bio {
                    grid-area: 2/1/3/3;
                }

            }
        }

        .values {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }
}