@import "../variables.scss";

.projects {
    min-height: 80vh;
    background-color: $lightgrey;

    .filter {
        display: flex;
        align-items: center;
        padding-bottom: 3rem;
        justify-content: center;
        flex-wrap: wrap;

        >* {
            margin: 0.75rem 1rem;
        }

    }

    @media screen and (max-width:600px) {
        .filter {
            display: none;
        }
    }
}