$blue: #039CE9;
$grey: #1F2023;
$lightgrey: #333437;
$white: #ffffff;
$font: "Open Sans",
Tahoma,
Geneva,
sans-serif;
$heading-font: "Titillium web",
Tahoma,
Geneva,
sans-serif;

@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin hr-reset {
    border: none;
    display: block;
    margin: 1rem 0;
}

@mixin cover-parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}