.Project {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 300px;

  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($color: $grey, $alpha: 0.75);
    text-align: center;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    display: block;

    .content {
      padding: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      width: 100%;
      height: 100%;

      h1 {
        margin: 0;
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 1.75rem;
        color: $white;
      }

      .divider {
        height: 1px;
        background-color: $white;
        width: 100%;
      }

      p {
        margin: 0;
        color: $blue;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $blue !important;

        i {
          margin-right: 0.5rem;
        }
      }
    }
  }

  &:hover {
    .overlay {
      background-color: rgba($color: $grey, $alpha: 0.25);
    }
  }
}