.LandingVideo {
  height: 100%;
  width: 100%;

  video {
    min-height: 100%;
    min-width: 100%;
    object-position: center;
    position: relative;
    z-index: 2;
  }

  .LandingVideo {
    position: relative;
    z-index: 1;
  }
}