$blue: #039CE9;
$grey: #1F2023;
$lightgrey: #333437;
$white: #ffffff;
$font: "Open Sans",
Tahoma,
Geneva,
sans-serif;
$heading-font: "Titillium web",
Tahoma,
Geneva,
sans-serif;

@mixin list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}